/*
Theme Name: Juquitiba Turismo
Theme URI: http://pedropereira.me/wp/themes/juquitiba-turismo/
Author: Pedro Pereira
Author URI: http://pedropereira.me
Template: illdy
Description: Juquitiba Turismo is a custom theme based on Illdy for a tourism agency
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, e-commerce, portfolio
Text Domain: juquitiba-turismo

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

p {
	font-weight: 300;
	line-height: 20px;
}

.markup-format h1,
.markup-format h2,
.markup-format h3 {
    font-weight: 700;
}

.widget {
    margin-bottom: 20px;
}
.widget .search-form .search-form-box {
    padding: 0;
    background-color: #fbfbfb;
    border-color: #eaeaea;
}
.widget .search-form .search-form-box #s {
    top: -3.7rem;
    position: relative;
}

#blog .blog-post .blog-post-entry p,
#blog .blog-post .blog-post-entry .textwidget {
        font-weight: 500;
}

#header .bottom-header span.span-dot {
    color: #ffffff;
}

#header .front-page {
	padding-top: 30px;
	padding-bottom: 2rem;
}
#header .front-page p {
	line-height: 20px;
}
#header .front-page .col-centered {
	margin: 0 auto;
	float: none;
	text-align: center;
}

#header .front-page .front-page-columns:nth-of-type(even) {
	margin-top: 6rem;
}
#header .front-page .front-page-entry {
	height: 0;
	text-align: left;
	padding-left: 2px;
	min-width: 170px;
}
#header .front-page .front-page-entry > p {
	margin: 0;
}
#header .front-page .front-page-bottom-left {
	top: -5rem;
	padding: 0 10rem;
}
#header .front-page .front-page-bottom-left.image {
	display: inline-block;
	float: left;
	top: 0;
	padding: 0;
}
#header .front-page .front-page-bottom-left.image img {
	max-height: 10rem;
}
#header .front-page .front-page-bottom-left.text {
	display: inline-block;
	float: left;
	text-align: left;
	top: 0;
	padding: 0;
}

#header .instagram-feed{
    position: relative;
}
#header .instagram-feed:before {
    content: attr(data-label);
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 39%;
    left: 11%;
    padding: 3px 7px;
}
#header .instagram-feed .stack-facebook,
#header .instagram-feed .stack-instagram {
    position: absolute;
    top: 39%;
    color: #000;
    font-size: 1.8rem;
}

#header .instagram-feed .stack-facebook {
    left: 41%;
}
#header .instagram-feed .stack-instagram {
    left: 47%;
}

@media (max-width: 767px) {
	#header .front-page .front-page-entry {
		margin: 0 auto;
		float: none;
		text-align: center;
		margin-bottom: 5rem;
	}
	#header .front-page .front-page-columns:last-of-type {
		margin-top: 6rem;
	}
	#header .front-page .front-page-bottom-left {
		top: 0;
		padding: 0;
	}
	#header .front-page .front-page-bottom-left.image {
		float: none;
	}
	#header .front-page .front-page-bottom-left.image img {
		max-height: 20rem;
	}
	#header .front-page .front-page-bottom-left.text {
		float: none;
		top: -10rem;
	}
    #header .instagram-feed:before {
        font-size: 1rem;
        left: 5%;
    }
    #header .instagram-feed .stack-facebook,
    #header .instagram-feed .stack-instagram {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1220px) {
    #header .instagram-feed:before {
        font-size: 1.6rem;
    }
    #header .instagram-feed .stack-facebook,
    #header .instagram-feed .stack-instagram {
        font-size: 1.3rem;
    }
}


#header .front-page circle {
	cursor: pointer;
}

#header .front-page .front-page-columns svg {
	width: 100%;
	height: 100%;
}


#header .modal.activities .modal-dialog {
	width: 45rem;
}
#header .modal.activities .modal-content {
	background: #229802;
	color: white;
	border-radius: 0;
	border: none;
	box-shadow: none;
}
#header .modal.activities .modal-content .close {
	position: relative;
	top: 3px;
	right: 10px;
	font-size: 3rem;
	text-shadow: none;
	opacity: .7;
	color: white;
    z-index: 1;
}
#header .modal.activities .modal-content .modal-body .row {
	margin: 15px 0;
	padding-bottom: 15px;
}
#header .modal.activities .modal-content .modal-body .row:not(:last-of-type) {
	border-bottom: 1px solid;
}
#header .modal.activities .modal-content .modal-body  .title > h4 {
	font-weight: 700;
	text-transform: uppercase;
}
#header .modal.activities .modal-content .modal-body  .content {
	font-weight: 300;
	margin-bottom: 5px;
}
#header .modal.activities .modal-content .modal-body  .price {
	font-size: 2rem;
}
#header .modal.activities .modal-content .modal-body  .price:before {
	content: "R$";
	display: inline-block;
}
#header .modal.activities .modal-content .modal-body  .price a.detail {
	float: right;
	border-radius: 0;
	background: #076dc5;
	border: none;
	font-weight: 400;
	text-transform: uppercase;
	box-shadow: none;
	text-shadow: none;
	margin-left: 10px;
}
#header .modal.activities .modal-content .modal-body  .price a.detail > i.fa {
	margin-left: 8px;
}

#services {
	padding: 20px 0;
	background-color: #ffe7d4;
	background-size: cover;
	background-attachment: fixed;
}
#services .section-header {
	margin: 0;
}
#services .section-header h3 {
	font-size: 4rem;
	color: #fff;
	margin: 35px 0;
}
#services .section-content .service {
	padding: 10px;
	min-height: 150px;
	border-top: 5px solid;
	border-color: #73564a;
	color: #fff;
	background-color: #229802;
	box-shadow: 3px 3px 10px rgb(60, 60, 60);
	margin: 0 auto;
	margin-bottom: 30px;
}
#services .section-content .service.contrast {
	background-color: #207b07;
	border-color: #6d4434;
}

#footer div[role="form"] label {
    width: 100%;
}
#footer div[role="form"] label textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 100%;
    max-height: 9rem;
}
#footer div[role="form"] label input[type="text"],
#footer div[role="form"] label input[type="email"],
#footer div[role="form"] label textarea {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-transition: border-color .1s cubic-bezier(0.4, 0, 1, 1) .1s;
    -moz-transition: border-color .1s cubic-bezier(0.4, 0, 1, 1) .1s;
    -ms-transition: border-color .1s cubic-bezier(0.4, 0, 1, 1) .1s;
    -o-transition: border-color .1s cubic-bezier(0.4, 0, 1, 1) .1s;
    transition: border-color .1s cubic-bezier(0.4, 0, 1, 1) .1s;
}
#footer div[role="form"] label input[type="text"]:focus,
#footer div[role="form"] label input[type="email"]:focus,
#footer div[role="form"] label textarea:focus {
    border: 1px solid #229802;
}

#footer .footer-publicidade {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    text-align: right;
}
#footer .footer-publicidade img {
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 767px) {
    #footer .footer-publicidade {
        text-align: left;
    }
}

